#diper{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #try{
    margin-left: 240px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 10px;

  }

  #wanna{
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
  }